<p id="notice"><%= notice %></p>
<%= render 'shared/carousel' %>
<tbody>
<div class="container-fluid">
     
</br>
</br>
<% sayac=0 %>
<% hucre_sayisi=2 %>
<% @projelers.each do |projeler| %> 
  
    <% if(sayac == 0) %>
        <div class="row">
    <% end %>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> <%= projeler.baslik %> </h3>
                        <h6 class="card-subtitle mb-2 text-muted">
                        <p><%= projeler.aciklama.first(250)%> </p>
                        </h6>
                        <p class="card-text">
                        <%= image_tag projeler.resim.url(:thumb) if projeler.resim? %> 
                        </p>
                        
                        <p>
                        <%= projeler.konu %>
                        <%= projeler.tarih %>
                    
                        </p>
                        <% if user_signed_in? %>
                           <%= link_to 'Görüntüle', projeler , {:class=>"btn btn-success"} %>   
                            <% else %>
                           <%= link_to 'Görüntüle', projeler , {:class=>"btn btn-success"} %>   
                       <% end %>
                        
                    </div>
                </div>
            </div>
    <% if(sayac == (hucre_sayisi-1)) %>
        </div><br>
        <% sayac=0 %>
    <% else %> 
        <% sayac= sayac + 1 %>
    <% end %>
        
    
<% end %>
  
  
</div>
</br>

</div>


</br>
</br>
</br>
