<p id="notice"><%= notice %></p>

<section class="blog-post-area section-margin">
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="main_blog_details">
        
           <h4>  <%= @projeler.baslik %> </h4>
           
<%= image_tag @projeler.resim.url(:medium) if @projeler.resim? %>  
            <div class="user_details">
             
              <div class="float-right mt-sm-0 mt-3">
                <div class="media">
                  <div class="media-body">
                    <h5>  <%= @projeler.konu %> </h5>
                    <p> <%= @projeler.tarih %> </p>
                  </div>
                  <div class="d-flex">
                    <img width="42" height="42" src="https://via.placeholder.com/25x25" alt="">
                  </div>
                </div>
              </div>
            </div>
            <p> <%= simple_format @projeler.aciklama %></p>
      
          </div>
         
          <%= link_to 'Geri Dön', projelers_path,class:"btn btn-primary" %>

          </div>
          </section>
